
<figure>
    <img src="/img/sascha.jpg" alt=""/>
    <figcaption>Fatty Finn<br/>Guitar</figcaption>
</figure>
<figure>
    <img src="/img/Lars.jpg" alt=""/>
    <figcaption>Lars<br/>Trumpet</figcaption>
</figure>
<figure>
    <img src="/img/Bascha.jpg" alt=""/>
    <figcaption>Sasha Haack<br/>Double Bass</figcaption>
</figure>
<figure>
    <img src="/img/smoky.jpg" alt=""/>
    <figcaption>Smoky (Andy)<br/>Double Bass (sub)</figcaption>
</figure>


<figure>
    <img src="/img/olli.jpg" alt=""/>
    <figcaption>Dr. Olivia Bootylicious<br/>Vocals</figcaption>
</figure>
<figure>
    <img src="/img/henni.jpg" alt=""/>
    <figcaption>Henny Penny<br/>Vocals</figcaption>
</figure>
<figure>
    <img src="/img/sophie.jpg" alt=""/>
    <figcaption>Miss Sophie​<br/>Vocals​​​</figcaption>
</figure>

