
<div class="background-box">
    <h2>august zweitausendvierzehn</h2>
    <p>
        Letztens haben wir Onkel Detlef im Krankenhaus besucht, der eine neue Hüfte bekam!
        Etwas überrascht war er wohl .. als er aus seinem Zimmer kam und die SwingSchlampen für ihn den Schwestern Song zum besten gaben .. ;)
        Gute Besserung!!
    </p>
    <figure>
        <img src="/img/krankenhaus.jpg" alt=""/>
        <figcaption>Hausbesuch<br/>bei Onkel Detlef</figcaption>
    </figure>
</div>


<div class="background-box">
    <h2>dritter august zweitausendvierzehn</h2>
    <p>
        Auf der Berliner Tattoo Convention 2014 in der Arena in Treptow
        spielten einige von uns mit dem Gedanken sich tätowieren zu lassen ..
        Smoky Andy hat sich ja schon getraut ..
        Hat irgendjemand ein paar Vorschläge?
    </p>
    <figure>
        <img src="/img/tattooconvention.jpg" alt=""/>
        <figcaption>Tattooconvention<br/>2014</figcaption>
    </figure>
</div>
