

<div class="background-box termine" ng-controller="eventCtrl">

    <div ng-repeat="entry in termine">
        <h2>
            <input type="text" ng-model="entry.month" ng-blur="save()" ng-disabled="!editable"/>
            <span class="minus" ng-click="remove(entry)" ng-show="editable">-</span>
        </h2>

        <div as-sortable="dragControlListeners" ng-model="entry.events" is-disabled="!editable">
            <div ng-repeat="event in entry.events" as-sortable-item class="as-sortable-item">
                <div as-sortable-item-handle class="as-sortable-item-handle table">
                    <div class="cell label">
                        <input type="text" ng-model="event.date" ng-blur="save()" ng-disabled="!editable"/>
                        <span class="delete" ng-click="delete_event(entry.events, event)"
                              ng-show="editable" ng-disabled="!editable">x</span>
                    </div>
                    <div class="cell">
                        <input type="text" ng-model="event.name" ng-blur="save()" ng-disabled="!editable"/>
                    </div>
                </div>
            </div>
        </div>

        <span class="plus" ng-click="add_event(entry.events)" ng-show="editable">noch watt ..</span>
    </div>


    <h2 ng-show="editable"><span class="plus" ng-click="more()">+</span></h2>
    <input class="edit_me" type="password" ng-change="edit_me()" ng-model="password"/>
</div>
