

<div class="background-box termine">

    <h2>AUGUST  2014</h2>
    <label>30. August</label> US car Classics, Schloß Diedersdorf,
    Spielbeginn: 20.00 Uhr, Ende 21.30 bzw. 22.00 Uhr <br/>

    <h2>SEPTEMBER 2014</h2>
    <label>05. September</label> MUSIC WEEK, O2 world <br/>
    <label>06./07. September</label> Flugplatzfest Gatow, Luftwaffenmuseum
    Spielbeginn: 14.00 bis 15.00 & 17.00 bis 18.00 Uhr <br/>
    <label>10. September</label> Privatparty Ballhaus Berlin <br/>
    <label>13. September</label> Kommunenfest, privat <br/>
    <label>29. September</label> Möbelhaus Fröhlich, bei Dresden <br/>
    <br/>

    <h2>OKTOBER 2014</h2>
    <label>09. Oktober</label> Kudamm, Alt Berliner Kneipe <br/>
    <label>19. Oktober</label> SO36 Café Fatal - ca. 21.00 Uhr <br/>

    <h2>DEZEMBER 2014</h2>
    <label>6. Dezember</label> Samstag,  Rockhaus… <br/>
    <label>18.Dezember</label> Gatow Weihnachtsfeier <br/>
</div>