<div class="background-box">
    <div class="form" ng-controller="contactCtrl">
        <form name="contactForm" novalidate role="form">

            <div class="control-group">
                <label class="control-label" for="textinput">Text Input</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="input-xlarge">
                    <p class="help-block">help</p>
                </div>
            </div>
            name
            email
            <div class="input-prepend">
                <span class="add-on">prepend</span>
                <input id="prependedtext" name="prependedtext" class="input-xlarge" placeholder="placeholder" type="text">
            </div>
            <span class="add-on">prepend</span>
            <input id="prependedtext" name="prependedtext" class="input-xlarge" placeholder="placeholder" type="text">

            <span class="label label-danger break" ng-show="submitted && contactForm.message.$error.required">erforderlich!</span>
            <textarea type="text" name="message" ng-model="fields.message" required/><br/>
            <div class="controls">
                <textarea id="textarea" name="textarea">default text</textarea>
            </div>

            <p ng-show="sent" class="label label-success">Danke für deine Nachricht!<br/><br/></p>
            <p ng-show="send_error" class="label label-danger">Problem beim Versand :(<br/><br/></p>

            <button ng-click="submit(contactForm)" class="btn btn-default">Absenden</button>

            <div style="clear: both"></div>

        </form>
    </div>
</div>
