@font-face {
  font-family: "SF-Hollywood-Hills";
  src: url("/fonts/SF-Hollywood-Hills.ttf.eot");
  src: url("/fonts/SF-Hollywood-Hills.ttf.eot?#iefix") format("embedded-opentype"), url("../fonts/SF-Hollywood-Hills.ttf.woff") format("woff"), url("../fonts/SF-Hollywood-Hills.ttf.svg#SF-Hollywood-Hills") format("svg");
  font-weight: 2em;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "scriptina";
  src: url("/fonts/scriptin-webfont.eot");
  src: url("/fonts/scriptin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/scriptin-webfont.woff") format("woff"), url("../fonts/scriptin-webfont.ttf") format("truetype"), url("../fonts/scriptin-webfont.svg#scriptinaregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body, html {
  height: 100%;
  min-width: 1000px;
  margin: 0; }

.page {
  min-height: 100%;
  background-size: cover;
  width: 100%;
  background: black url("/img/gato_flugzeug_webshop.jpg") center fixed;
  background-size: cover;
  position: relative;
  padding: 0 0 100px 0; }
  .page .logo {
    font-family: "scriptina";
    position: absolute;
    right: 10%;
    top: 200px;
    font-size: 50px;
    color: black; }
    .page .logo span {
      position: relative;
      top: -28px;
      left: 120px; }

.infolink {
  text-align: center; }
  .infolink a {
    font-size: 35px;
    font-family: "SF-Hollywood-Hills";
    color: darkred;
    text-decoration: none; }

ul.navtabs {
  text-align: right;
  padding: 2.5% 40px;
  display: block;
  background-color: black;
  margin: 0 0 50px 0; }
  ul.navtabs li {
    font-size: 35px;
    font-family: "SF-Hollywood-Hills";
    display: inline-block;
    margin: 0 10px; }
    ul.navtabs li a {
      color: whitesmoke;
      text-decoration: none; }
    ul.navtabs li:first-letter {
      font-size: 50px;
      color: darkred; }

figure {
  margin: 0;
  display: block;
  text-align: center;
  position: relative; }
  figure img {
    border: 20px solid #0a0a0a;
    background-color: whitesmoke;
    padding: 4px; }
  figure figcaption {
    text-align: center;
    position: relative;
    bottom: 125px;
    font-family: "SF-Hollywood-Hills";
    color: whitesmoke;
    text-shadow: 0 0 5px black;
    font-size: 37px; }

.background-box {
  margin: 50px;
  padding: 20px;
  background-color: rgba(76, 29, 17, 0.4);
  color: floralwhite;
  font-family: "Exo 2", sans-serif;
  position: relative; }
  .background-box h2 {
    font-size: 35px;
    font-family: "SF-Hollywood-Hills";
    color: whitesmoke;
    margin-top: 0;
    color: darkred; }
  .background-box label {
    width: 150px;
    display: inline-block;
    border-right: 2px solid darkred;
    margin-right: 10px;
    font-family: "Mr De Haviland", cursive; }

.termine h2 {
  margin-top: 50px; }

span.label.label-danger {
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  border-radius: 0; }
  span.label.label-danger.break:after {
    content: "\A";
    white-space: pre; }

.shop {
  width: 533px;
  margin: 0 auto;
  background-color: white;
  font-family: "Clicker Script", cursive;
  color: #001839;
  font-size: 40px; }
  .shop .header {
    position: relative;
    background: url("/img/shop-header.png");
    width: 533px;
    height: 401px; }
    .shop .header span {
      position: absolute;
      bottom: 0;
      right: 20px;
      font-size: 60px; }
  .shop .caption {
    background-color: #001839;
    color: white;
    text-align: right;
    padding: 0px 20px 3px; }
  .shop .form {
    padding: 20px; }
    .shop .form input {
      border: 0;
      font-family: "Exo 2", sans-serif;
      font-size: 30px; }
    .shop .form #zip_code {
      width: 90px; }
    .shop .form #city {
      width: 205px; }
    .shop .form .line {
      padding-bottom: 5px;
      background: url("/img/input-line.png") repeat-x bottom; }
      .shop .form .line label {
        display: inline-block;
        width: 81px;
        font-size: 30px; }
    .shop .form .shirt {
      position: relative;
      display: inline-block;
      width: 220px;
      margin-right: 25px;
      text-align: center; }
      .shop .form .shirt label {
        position: absolute;
        top: 5px;
        left: 15px; }
      .shop .form .shirt input {
        border: 3px solid #001839;
        position: absolute;
        top: 5px;
        right: 0px;
        width: 50px; }
    .shop .form .message.label {
      font-size: 18px;
      font-family: "Exo 2", sans-serif;
      font-weight: normal; }
    .shop .form button {
      margin-top: 20px;
      background: #001839;
      border: none;
      border-radius: 7px;
      padding: 10px 30px;
      color: white;
      font-family: inherit;
      font-size: 30px;
      float: right;
      cursor: pointer; }
    .shop .form .reminder {
      font-size: 18px; }

li.flyout {
  position: relative; }
  li.flyout ul {
    display: none; }
  li.flyout:hover ul {
    display: block;
    position: absolute;
    top: 60px;
    left: 17px;
    background-color: black;
    padding: 0;
    border: 3px solid white; }

#contact {
  width: 600px;
  margin: 50px auto; }
  #contact .input-group {
    margin: 10px 0;
    width: 100%; }
    #contact .input-group span {
      width: 77px;
      font-family: "Exo 2", sans-serif;
      border-radius: 4px 0 0 4px; }
  #contact textarea {
    border-radius: 4px;
    width: 100%; }
  #contact button {
    float: right; }

label {
  display: inline; }

.regular-checkbox {
  display: none; }

.regular-checkbox + label {
  background-color: #001839;
  border: 1px solid #001839;
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative; }

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); }

.regular-checkbox:checked + label {
  background-color: #001839;
  border: 1px solid #001839;
  color: #99a1a7; }

.regular-checkbox:checked + label:after {
  content: "\2714";
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: white; }

.big-checkbox + label {
  padding: 18px; }

.big-checkbox:checked + label:after {
  font-size: 28px;
  left: 6px; }

.tag {
  font-family: Arial, sans-serif;
  width: 200px;
  position: relative;
  top: 5px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  float: left; }

.regular-checkbox + label {
  background-color: #001839;
  border: 1px solid #001839;
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative; }
