@charset "UTF-8";
@font-face {
  font-family: "SF-Hollywood-Hills";
  src: url("/fonts/SF-Hollywood-Hills.ttf.eot");
  src: url("/fonts/SF-Hollywood-Hills.ttf.eot?#iefix") format("embedded-opentype"), url("/fonts/SF-Hollywood-Hills.ttf.woff") format("woff"), url("/fonts/SF-Hollywood-Hills.ttf.svg#SF-Hollywood-Hills") format("svg");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "scriptina";
  src: url("/fonts/scriptin-webfont.eot");
  src: url("/fonts/scriptin-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/scriptin-webfont.woff") format("woff"), url("/fonts/scriptin-webfont.ttf") format("truetype"), url("/fonts/scriptin-webfont.svg#scriptinaregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body, html {
  height: 100%;
  min-width: 1000px;
  margin: 0; }

.page {
  min-height: 100%;
  background-size: cover;
  width: 100%;
  background: #000000 url("/img/gato_flugzeug_webshop.jpg") center fixed;
  background-size: cover;
  position: relative;
  padding: 0 0 100px 0;
  color: white; }
  .page .logo {
    font-family: "scriptina";
    position: absolute;
    right: 10%;
    top: 200px;
    font-size: 50px;
    color: black; }
    .page .logo span {
      position: relative;
      top: -28px;
      left: 120px; }

.infolink {
  text-align: center; }
  .infolink a {
    font-size: 35px;
    font-family: "SF-Hollywood-Hills";
    color: darkred;
    text-decoration: none; }

ul.navtabs {
  text-align: right;
  padding: 2.5% 40px;
  display: block;
  background-color: #000000;
  margin: 0 0 50px 0; }
  ul.navtabs li {
    font-size: 35px;
    font-family: "SF-Hollywood-Hills";
    display: inline-block;
    margin: 0 10px; }
    ul.navtabs li.menu {
      position: relative; }
      ul.navtabs li.menu ul {
        display: none;
        position: absolute;
        left: -10px;
        top: 66px;
        padding: 0;
        z-index: 7;
        text-align: left; }
        ul.navtabs li.menu ul li {
          list-style-type: none;
          background: black;
          margin: 0;
          padding: 0 10px; }
      ul.navtabs li.menu:hover ul {
        display: inline-block; }
    ul.navtabs li a {
      color: #f5f5f5;
      text-decoration: none; }
    ul.navtabs li:first-letter {
      font-size: 50px;
      color: darkred; }

figure {
  margin: 0;
  display: block;
  text-align: center;
  position: relative; }
  figure img {
    margin-top: 1em; }

figure img, .richtext-image {
  border: 20px solid #0a0a0a;
  background-color: whitesmoke;
  padding: 4px; }
  figure img.right, .richtext-image.right {
    float: right; }
  figure img.left, .richtext-image.left {
    float: left; }
  figure img figcaption, .richtext-image figcaption {
    text-align: center;
    position: relative;
    bottom: 125px;
    font-family: "SF-Hollywood-Hills";
    color: #f5f5f5;
    text-shadow: 0 0 5px black;
    font-size: 37px; }

.background-box {
  margin: 50px;
  padding: 20px;
  background-color: rgba(76, 29, 17, 0.4);
  color: floralwhite;
  font-family: "Exo 2", sans-serif;
  position: relative;
  font-size: 16px; }
  .background-box h2, .background-box h1 {
    font-size: 35px;
    font-family: "SF-Hollywood-Hills";
    color: #f5f5f5;
    margin-top: 0;
    color: darkred; }

strong {
  color: darkred; }

.as-sortable-placeholder {
  background: darkred;
  opacity: 0.5; }

.termine .label, .as-sortable-item .label {
  padding: 0; }
.termine input, .as-sortable-item input {
  background: none;
  border: none;
  box-sizing: border-box; }
.termine h2, .as-sortable-item h2 {
  margin-top: 50px; }
  .termine h2 input, .as-sortable-item h2 input {
    width: 240px; }
.termine .plus, .termine .minus, .as-sortable-item .plus, .as-sortable-item .minus {
  cursor: pointer; }
.termine .table, .as-sortable-item .table {
  display: table; }
  .termine .table input, .as-sortable-item .table input {
    width: 100%; }
.termine .cell, .as-sortable-item .cell {
  display: table-cell;
  position: relative; }
  .termine .cell.label, .as-sortable-item .cell.label {
    width: 248px;
    padding-right: 17px;
    font-family: "SF-Hollywood-Hills", cursive;
    font-size: 24px; }
    .termine .cell.label input, .as-sortable-item .cell.label input {
      border-right: 2px solid darkred; }
  .termine .cell .delete, .as-sortable-item .cell .delete {
    display: none;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    top: -8px;
    right: 22px;
    font-family: "Courier New", courier, monospace; }
  .termine .cell:hover .delete, .as-sortable-item .cell:hover .delete {
    display: block; }
.termine .edit_me, .as-sortable-item .edit_me {
  margin-top: 77px;
  width: 50px; }

span.label.label-danger {
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  border-radius: 0; }
  span.label.label-danger.break:after {
    content: "\a";
    white-space: pre; }

.shop {
  width: 533px;
  margin: 0 auto;
  background-color: white;
  font-family: "Clicker Script", cursive;
  color: #001839;
  font-size: 40px; }
  .shop .header {
    position: relative;
    background: url("/img/shop-header.png");
    width: 533px;
    height: 401px; }
    .shop .header span {
      position: absolute;
      bottom: 0;
      right: 20px;
      font-size: 60px; }
  .shop .caption {
    background-color: #001839;
    color: #ffffff;
    text-align: right;
    padding: 0px 20px 3px; }
  .shop .form {
    padding: 20px; }
    .shop .form input {
      border: 0;
      font-family: "Exo 2", sans-serif;
      font-size: 30px; }
    .shop .form #zip_code {
      width: 90px; }
    .shop .form #city {
      width: 205px; }
    .shop .form .line {
      padding-bottom: 5px;
      background: url("/img/input-line.png") repeat-x bottom; }
      .shop .form .line label {
        display: inline-block;
        width: 81px;
        font-size: 30px; }
    .shop .form .shirt {
      position: relative;
      display: inline-block;
      width: 220px;
      margin-right: 25px;
      text-align: center; }
      .shop .form .shirt label {
        position: absolute;
        top: 5px;
        left: 15px; }
      .shop .form .shirt input {
        border: 3px solid #001839;
        position: absolute;
        top: 5px;
        right: 0px;
        width: 50px; }
      .shop .form .shirt .price-tag {
        position: relative;
        top: -20px; }
    .shop .form .message.label {
      font-size: 18px;
      font-family: "Exo 2", sans-serif;
      font-weight: normal; }
    .shop .form button {
      margin-top: 20px;
      background: #001839;
      border: none;
      border-radius: 7px;
      padding: 10px 30px;
      color: white;
      font-family: inherit;
      font-size: 30px;
      float: right;
      cursor: pointer; }
    .shop .form .reminder {
      font-size: 18px; }

li.flyout {
  position: relative; }
  li.flyout ul {
    display: none; }
  li.flyout:hover ul {
    display: block;
    position: absolute;
    top: 60px;
    left: 17px;
    background-color: black;
    padding: 0;
    border: 3px solid white; }

#contact {
  width: 600px;
  margin: 50px auto; }
  #contact .input-group {
    margin: 10px 0;
    width: 100%; }
    #contact .input-group span {
      width: 77px;
      font-family: "Exo 2", sans-serif;
      border-radius: 4px 0 0 4px; }
  #contact textarea {
    border-radius: 4px;
    width: 100%; }
  #contact button {
    float: right; }

label {
  display: inline; }

.regular-checkbox {
  display: none; }

.regular-checkbox + label {
  background-color: #001839;
  border: 1px solid #001839;
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative; }

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); }

.regular-checkbox:checked + label {
  background-color: #001839;
  border: 1px solid #001839;
  color: #99a1a7; }

.regular-checkbox:checked + label:after {
  content: "✔";
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: white; }

.big-checkbox + label {
  padding: 18px; }

.big-checkbox:checked + label:after {
  font-size: 28px;
  left: 6px; }

.tag {
  font-family: Arial, sans-serif;
  width: 200px;
  position: relative;
  top: 5px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  float: left; }

.regular-checkbox + label {
  background-color: #001839;
  border: 1px solid #001839;
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative; }

#carousel {
  width: 80%;
  height: 600px;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden; }
  #carousel img {
    border: 20px solid #0a0a0a;
    background-color: whitesmoke;
    padding: 4px;
    margin-right: 3px; }
  #carousel #container {
    width: 100000px; }
    #carousel #container #images {
      display: inline-block; }

/*# sourceMappingURL=styles.css.map */
